{% extends 'base.html' %}

{% block titulo %}
Artículos
{% endblock titulo %}

{% block contenido %}

    <h3>Artículos</h3>

    {% if articulo|length > 0 %}

    <ul>
        {% for arts in articulo %}
            <li>{{articulo.titulo}}</li>
            <li>{{articulo.subtitulo}}</li>

        {% endfor %}
    </ul>
{% else %}
    <p>No hay entradas aún.</p>
{% endif %}


<table class="table"> 
    <tbody> 
        {% for arts in articulo %}
        <tr> 
            <td>{{articulo.titulo}}</td>
            <td>{{articulo.subtitulo}}</td>
            <td>
                <a href="{% url 'editar_libro' libro.id %}">Editar</a>
              </td>         
            <td>
                <form action="{% url 'eliminar_libro' libro.id %}" method="post">
                  {% csrf_token %}
                  <input type="submit" value="eliminar"/>
                </form>
              </td>
        </tr>
        {% endfor %}
    </tbody>

</table>
    
    <br>
    <a href="{% url 'crear_libros' %}">Agregar un libro</a>
    <a href="{% url 'lista_libros' %}">Ver todos los libros</a>
    <a href="{% url 'lista_autores' %}">Ver autores</a>
    <a href="{% url 'lista_generos' %}">Ver todos los géneros</a>
    <br><br>
{% endblock contenido %} 