{% extends 'base.html' %}

{% block titulo %}
Artículos
{% endblock titulo %}

{% block contenido %}

    <h3>Artículos</h3>

<table class="table"> 
  <tbody> 
      <tr> 
          <th>Título</th>
          <th>Subtítulo</th>
          <th>Autor</th>
          <th>Fecha</th>
      </tr>
        {% for articulo in articulos %}
        <tr>
            <td>{{ articulo.titulo }}</td>
            <td>{{ articulo.subtitulo }}</td>
            <td>{{ articulo.autor }}</td>
            <td>{{ articulo.fecha }}</td>
            <td>
              <a href="{% url 'ver_articulos' articulo.id %}">Ver más</a>
            </td>
            <td>
                <a href="{% url 'editar_articulos' articulo.id %}">Editar</a>
              </td>         
            <td>
                <form action="{% url 'eliminar_articulos' articulo.id %}" method="post">
                  {% csrf_token %}
                  <input type="submit" value="eliminar"/>
                </form>
              </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
  
  <br>
  <a href="{% url 'crear_articulos' %}">Agregar un artículo</a>
  <br><br>
{% endblock contenido %}
