{% extends 'base.html' %}

{% block titulo %} 
Autores
{% endblock titulo %}

{% block contenido %}

    <h3>Autores agregados hasta ahora:</h3>
    <table class="table"> 
        <tbody> 
            <tr> 
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Creador</th>
            </tr>
            {% for autor in autores %}
            <tr> 
                <td>{{ autor.nombre }}</td>
                <td>{{ autor.apellido }}</td>
                <td>{{ autor.creador }}</td>
                <td>
                    <a href="{% url 'editar_autor' autor.id %}">Editar</a>
                  </td>  
                <td>
                    <form action="{% url 'eliminar_autor' autor.id %}" method="post">
                      {% csrf_token %}
                      <input type="submit" value="eliminar"/>
                    </form>
                  </td>
            </tr>
            {% endfor %}
        </tbody>
    
    </table>

    <a href="{% url 'crear_autores' %}">Agregar un autor</a>

{% endblock contenido %} 